body{
    background-color: aquamarine;
    color: white;
    font-family: 'Montserrat', sans-serif; 

}

.wrap{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: black;
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 16px;
    padding: 15px 40px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Century Gothic;
    font-weight: 700;
    color: aquamarine;
  }
  .btn:hover {
      text-decoration: none;
      transition: all .8s;
      font-weight: bolder;
      border: 3px solid black;
      color: black;
      background-color: aquamarine;
  }
  .btn:active {
    background-color: lime;
    border-radius: 15px;
  }


