body{
    background-color: aquamarine;
    color: white;
    font-family: 'Montserrat', sans-serif; 

}

.wrap{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


